env/
.vscode
vaderSentiment/
.ipynb_checkpoints/
wiki-news-300d-1M.vec
test_labels.csv
test.csv
train.csv
embedding.h5
embedding-2.h5
first_iter.hdf5
tokenizer.pickle
second_iter.hdf5
pycache/
*.py[cod]
sample.py
config.py
pickle-example.p
debug.log
db.py